
<h2 align="center">{{title}}</h2>
<div class="col-lg-6 col-lg-offset-3">

	<form name="myForm">

	 <div class="form-group">
		<label for="exampleInputEmail1">Date</label>
		<datepicker date-format="yyyy-MM-dd" date-disabled-weekdays="[0,6]" >
			<input placeholder="Date" ng-change="findDates(Appointment.date)" id="date" name="date" type="text" ng-model="Appointment.date" class="form-control" required >
			<span ng-show="!myForm.$pristine && myForm.date.$error.required">Date is required.</span>
		</datepicker>
	</div>
	<div class="form-group" ng-show="selectTime">
		 <label for="startTime">Start Time</label>
		<select name="startTime" id="startTime" ng-model="Appointment.startTime" class="form-control" ng-change="putIdTime(Appointment.startTime)" required>
			<option value="">Choose a Time</option>
			<option ng-repeat="option in optionsTime" value="{{option.name}}">{{option.name}}</option>
		</select>
		<span ng-show="!myForm.$pristine && myForm.startTime.$error.required">StartTime is required.</span>
	 </div>

	 <div class="form-group" ng-hide="divTime">
		 <label for="exampleInputEmail1">Date</label>
		 <input placeholder="Date" ng-change="findDates(Appointment.date)" id="idtime" name="idtime" type="text" ng-model="Appointment.idtime" class="form-control" >
	 </div>

	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="Appointment.email" required>
		<span ng-show="!myForm.$pristine && myForm.email.$error.required">Email is required</span>
		<span ng-show="!myForm.$pristine && myForm.email.$error.email">Please enter a valid email</span>
	</div>
		<button class="btn btn-primary btn-lg" type="submit" ng-click="saveAppointment(Appointment)" ng-disabled="!myForm.$valid">
				{{button}}
		</button>
	</form>
</div>
