<div class="col-lg-12">
  <div class="col-lg-6" align="center">
    <div class="jumbotron" >
      <h1>Death? Ok, Get in!</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#/appointments" role="button">Enter</a></p>
    </div>
  </div>
  <div class="col-lg-6" align="center">
    <div class="jumbotron">
      <h1>You want a dance?</h1>
      <p>Take one!</p>
      <p><a class="btn btn-primary btn-lg" href="#/appointments/new" role="button">Make An Appointment</a></p>
    </div>
  </div>
</div>
